.divs{
    margin-top: 5rem;
}
.profile-div{
     background-image: url('../about-background.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s; 
    -o-animation: fadein 3s; 
    animation: fadein 3s;
    animation-duration: 3s;
    overflow: auto;
    min-height: 120vh;
}

.bars{
    display:flex;
    flex-direction: column;
    width:100%;
}
.pcon{
    padding-bottom: 0rem;
}

.displayInfo{
    display:none;
}

.profileInfo{
    opacity: 80%;
}