
/* home styles */
#home-body{
    background-image: url('./backgroundnew.jpeg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 3s;
    -ms-animation: fadein 3s; 
    -o-animation: fadein 3s; 
    animation: fadein 3s;
    animation-duration: 3s;
    overflow: hidden;
    min-height:100vh;
    width:auto;
}
.the-cards{
    width: 10rem;
    height: 10rem;
    border-radius: 3rem;
    -webkit-animation: fadein 4s;
    -moz-animation: fadein 4s;
    -ms-animation: fadein 4s; 
    -o-animation: fadein 4s; 
    animation: fadein 4s;
    animation-duration: 4s;
}
.the-cards:hover{
    opacity: 50%;
    
}

.fim{
    padding-bottom: 350px;

}
.footer{
    z-index: 5;

}
.info-cards{
    opacity: 70%;
    padding-bottom: 130px;
    margin-top: 20rem;
}
#jumbo2{
    background: none;
}

#lowerwords{
    padding-bottom:180px;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#jumbo{
    margin-top: 86px;
    background-color: white;
    opacity: 70%;

    
}
#jumbo:hover{
    background-color: antiquewhite;
    opacity: 90%;
}

@media screen and (max-width: 760px){
  #h1{
    font-size: 2.3em;
  }
  #jp{
    font-size: 0.8em;
  }
  #foot{
    font-size: .6em;
    overflow:auto;
    clear: both;
    display: inline-block;
  }
    .fim{
    display:none;
  }
  #jumbo2{
      padding-bottom:50rem;
  }
};

